@page "{id:int?}"
@model CitasEPS.Pages.Appointments.DetailsModel

@{
    ViewData["Title"] = "Detalles de Cita";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Cita #@Model.Appointment.Id</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            Fecha y Hora
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Appointment.AppointmentDateTime)
        </dd>
        <dt class="col-sm-3">
            Paciente
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Appointment.Patient.FullName) <small>(ID: @Html.DisplayFor(model => model.Appointment.Patient.DocumentId))</small>
        </dd>
        <dt class="col-sm-3">
            Médico
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Appointment.Doctor.FullName) <small>(Especialidad: @Html.DisplayFor(model => model.Appointment.Doctor.Specialty.Name))</small>
        </dd>
        <dt class="col-sm-3">
            Confirmada
        </dt>
        <dd class="col-sm-9">
             @(Model.Appointment.IsConfirmed ? "Confirmada" : "Pendiente")
        </dd>
        <dt class="col-sm-3">
            Notas / Motivo
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Appointment.Notes)
        </dd>
    </dl>
</div>
<div class="mt-3">
    <a asp-page="./Edit" asp-route-id="@Model.Appointment.Id" class="btn btn-warning">Editar</a>
    <a asp-page="./Index" class="btn btn-secondary">Volver al Listado</a>
</div> 