@page
@model CitasEPS.Pages.Appointments.MyPrescriptionsModel

@{ 
    ViewData["Title"] = "Mis Recetas";
}

<h2><i class="bi bi-journal-medical"></i> @ViewData["Title"]</h2>

@if (!Model.Prescriptions.Any())
{
    <div class="alert alert-info" role="alert">
        No tiene recetas registradas actualmente.
    </div>
}
else
{
    <table class="table table-striped table-hover">
        <thead class="table-light">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Prescriptions[0].PrescriptionDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Prescriptions[0].Medication)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Prescriptions[0].Dosage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Prescriptions[0].Instructions)
                </th>
                 <th>
                    @Html.DisplayNameFor(model => model.Prescriptions[0].Doctor)
                </th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model.Prescriptions)
    {           <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PrescriptionDate)
                </td>
                 <td>
                    @Html.DisplayFor(modelItem => item.Medication.Name) @* Assuming Medication is included and has a Name *@
                </td>
                 <td>
                    @Html.DisplayFor(modelItem => item.Dosage)
                </td>
                 <td>
                    @Html.DisplayFor(modelItem => item.Instructions)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Doctor.FullName) @* Assuming Doctor is included and has FullName *@
                </td>
            </tr>
    }
        </tbody>
    </table>
} 