@page
@model RegisterModel
@using CitasEPS.Models.Enums
@{
    ViewData["Title"] = "Registrarse";
}

<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8"> @* Slightly wider column for register? *@
            <div class="card shadow-sm">
                <div class="card-body p-4">
                    <h1 class="card-title text-center h3 mb-4">@ViewData["Title"]</h1>
                    <h2 class="text-center h5 mb-3 fw-normal">Crear una nueva cuenta.</h2>
                    <hr class="mb-4" />

                    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger mb-3" role="alert"></div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <input asp-for="Input.FirstName" class="form-control" placeholder="Nombres" />
                                    <label asp-for="Input.FirstName"></label>
                                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <input asp-for="Input.LastName" class="form-control" placeholder="Apellidos" />
                                    <label asp-for="Input.LastName"></label>
                                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-floating mb-3">
                            <input asp-for="Input.DocumentId" class="form-control" placeholder="Documento de Identidad" />
                            <label asp-for="Input.DocumentId"></label>
                            <span asp-validation-for="Input.DocumentId" class="text-danger"></span>
                        </div>

                        <div class="form-floating mb-3">
                            <select asp-for="Input.Gender" class="form-select" asp-items="Html.GetEnumSelectList<Gender>()">
                                <option selected disabled value="">Seleccione Género...</option>
                            </select>
                            <label asp-for="Input.Gender"></label>
                            <span asp-validation-for="Input.Gender" class="text-danger"></span>
                        </div>

                        <div class="form-floating mb-3">
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="nombre@ejemplo.com" />
                            <label asp-for="Input.Email">Correo Electrónico</label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3 position-relative">
                            <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="contraseña" id="registerPasswordInput" />
                            <label asp-for="Input.Password">Contraseña</label>
                            <button type="button" class="btn position-absolute end-0 me-2" id="toggleRegisterPassword" style="top: 50%; transform: translateY(-50%); border: none; background: transparent; padding: 0.375rem 0.75rem; z-index: 5; right: 0.5rem!important;">
                                <i class="bi bi-eye-slash"></i>
                            </button>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3 position-relative">
                            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="confirmar contraseña" id="confirmPasswordInput" />
                            <label asp-for="Input.ConfirmPassword">Confirmar Contraseña</label>
                            <button type="button" class="btn position-absolute end-0 me-2" id="toggleConfirmPassword" style="top: 50%; transform: translateY(-50%); border: none; background: transparent; padding: 0.375rem 0.75rem; z-index: 5; right: 0.5rem!important;">
                                <i class="bi bi-eye-slash"></i>
                            </button>
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>

                        <div class="form-floating mb-3">
                            <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Teléfono" />
                            <label asp-for="Input.PhoneNumber"></label>
                            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                        </div>

                        <div class="form-floating mb-3">
                            <input asp-for="Input.DateOfBirth" class="form-control datepicker-register" type="text" placeholder="Fecha de Nacimiento" />
                            <label asp-for="Input.DateOfBirth"></label>
                            <span asp-validation-for="Input.DateOfBirth" class="text-danger"></span>
                        </div>

                        <div class="d-grid gap-2 mb-3">
                            <button id="registerSubmit" type="submit" class="btn btn-lg btn-primary">Registrarse</button>
                        </div>
                    </form>

                    @* External logins section *@
                    @{
                        if ((Model.ExternalLogins?.Count ?? 0) > 0)
                        {
                            <hr class="mt-4 mb-3">
                            <section>
                                <h3 class="text-center h5 mb-3 fw-normal">Usar otro servicio para registrarse.</h3>
                                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                    <div class="text-center">
                                        @foreach (var provider in Model.ExternalLogins!)
                                        {
                                            <button type="submit" class="btn btn-outline-secondary m-1" name="provider" value="@provider.Name" title="Registrarse con su cuenta @provider.DisplayName">@provider.DisplayName</button>
                                        }
                                    </div>
                                </form>
                            </section>
                        }
                    }
                </div> @* End card-body *@
            </div> @* End card *@
        </div> @* End column *@
    </div> @* End row *@
</div> @* End container *@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
