@page "{id:int}"
@model CitasEPS.Pages.Admin.Medications.DetailsModel

@{
    ViewData["Title"] = "Detalles del Medicamento";
    Layout = "~/Pages/Shared/_Layout.cshtml"; // Ensure this points to the correct main layout
}

<h1><i class="bi bi-info-circle-fill"></i> @ViewData["Title"]</h1>

<div>
    <h4>Medicamento</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Medication.Name)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Medication.Name)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Medication.Description)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Medication.Description)
        </dd>
    </dl>
</div>
<div class="mt-3">
    <a asp-page="./Edit" asp-route-id="@Model.Medication?.Id" class="btn btn-warning me-2"><i class="bi bi-pencil-square"></i> Editar</a>
    <a asp-page="./Index" class="btn btn-secondary"><i class="bi bi-arrow-left-circle"></i> Volver al Listado</a>
</div> 